export OS_AUTH_URL=https://ops.elastx.cloud:5000/v3
export OS_PROJECT_ID={{ swift_project_id }}
#export OS_PROJECT_NAME="mad"
export OS_USER_DOMAIN_NAME="Default"
export OS_PROJECT_DOMAIN_ID="default"
export OS_USERNAME="{{ swift_username }}"
export OS_PASSWORD="{{ swift_password }}"
export OS_REGION_NAME="se-sto"
export OS_INTERFACE=public
export OS_IDENTITY_API_VERSION=3
